= form_for @news_item do |f|
  - if @news_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news_item.errors.count, "error")} prohibited this news_item from being saved:"
      %ul
        - @news_item.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-lg-6
      .form-group
        = f.label :title, class: "control-label"
        = f.text_field :title, type: "text", class: "form-control", placeholder: "Dean Wormer places Alpha Delta on Double-Secret Probation!"
      .form-group
        = f.label :content, class: "control-label"
        = f.text_area :content, type: "text", class: "form-control", placeholder: "In a shameful ploy to curry favorable press, college administrators have...", rows: "5"
      .actions
        = f.submit 'Post News Item!', class: "btn btn-primary"
