%p#notice= notice

%p
  %b Position:
  = @job_posting.position
%p
  %b Application instructions:
  = @job_posting.application_instructions
%p
  %b Expiration date:
  = @job_posting.expiration_date
%p
  %b Job description:
  = @job_posting.job_description
%p
  %b Job category:
  = @job_posting.job_category
%p
  %b Location:
  = @job_posting.location


