%nav#nav_background
  
  #nav

    =link_to image_tag('alphadelta-logo1.png', :alt => "The Alpha Delta est. 1991"), root_path, id: "header_logo"
  
    / #large_screen_nav
    /   .navbar.ribbon.col-lg-10{role: "navigation"}
    /     .ribbon-stitches-top
    /     %strong.ribbon-content
    /       %ul.nav.navbar-nav
    /         %li{:class => "#{'active' if current_page?(root_path)}"}=link_to "Home", root_path
    /         %li{:class => "#{'active' if current_page?(history_path)}"}=link_to "History", history_path
    /         %li{:class => "#{'active' if current_page?(albums_path)}"}=link_to "Photos & Composites", albums_path
    /         %li{:class => "#{'active' if current_page?(job_postings_path)}"}=link_to "Job Postings", job_postings_path
    /         %li{:class => "#{'active' if current_page?(alumni_news_items_path)}"}=link_to "Alumni News", alumni_news_items_path
    /       .clearfix.visible-xs
    /       .ribbon-stitches-bottom
    /#large_screen_nav
    .navbar{role: "navigation"}
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    
      .ribbon-stitches-top
      %strong.pull-right.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li{:class => "#{'active' if current_page?(root_path)}"}=link_to "Home", root_path
          %li{:class => "#{'active' if current_page?(history_path)} dropdown"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              History
              %b.caret
            %ul.dropdown-menu
              %li
                =link_to "Governing Documents", history_governing_documents_path
              %li
                =link_to "History", history_path
              %li
                =link_to "Six Principles", history_six_principles_path
              %li
                =link_to "Vision Statement", history_vision_statement_path
          / %li{:class => "#{'active' if current_page?(history_path)}"}=link_to "History", history_path
          %li{:class => "#{'active' if current_page?(albums_path)}"}=link_to "Photos & Composites", albums_path
          %li{:class => "#{'active' if current_page?(job_postings_path)}"}=link_to "Job Postings", job_postings_path
          %li{:class => "#{'active' if current_page?(alumni_news_items_path)}"}=link_to "Alumni News", alumni_news_items_path
      .clearfix.visible-xs
      .clearfix
      .ribbon-stitches-bottom
    .ribbon-container
      .ribbon-left-corner
      .ribbon-right-corner
  
      
/ #small_screen_nav
/ 
/ 
/   .navbar{role: "navigation"}
/     %ul.nav.navbar-nav
/       %li{:class => "#{'active' if current_page?(root_path)}"}=link_to "Home", root_path
/       %li{:class => "#{'active' if current_page?(history_path)}"}=link_to "History", history_path
/       %li{:class => "#{'active' if current_page?(albums_path)}"}=link_to "Photos & Composites", albums_path
/       %li{:class => "#{'active' if current_page?(job_postings_path)}"}=link_to "Job Postings", job_postings_path
/       %li{:class => "#{'active' if current_page?(alumni_news_items_path)}"}=link_to "Alumni News", alumni_news_items_path
