!!!
%html
  %head
    %title Alpha Delta Fraternity
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name=>"description", :content=> "Alpha Delta fraternity at Dartmouth College. Founded in 1846."}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %body
    .container
      = render "layouts/header"    
    .container
      .content
        .inner-content
          = yield
    = render "layouts/footer"